---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Offers from "../components/Offers.astro";
import Testimonials from "../components/Testimonials.astro";
import HeroFooter from "../components/HeroFooter.astro";
---

<Layout title="The Room">
  <main>
    <!-- Add Call To action, company Name and Button text2 -->
    <Hero
      callToAction="THE ROOM"
      ,
      buttonText="Contattaci"
      companyName="The Room"
    />
    <About linkText="/" imageOne="vertical2.jpg" , imageTwo="vertical1.jpg" />
    <Offers />
    <Testimonials />
    <HeroFooter callToAction="Get in Touch Today" />
  </main>
</Layout>
