---
interface Props {
  text: string;
  description?: string;
  imageURL: string;
}
const { text = "", description = "", imageURL = "" } = Astro.props;
const imageStyle = {
  backgroundImage: `url(/images/${imageURL})`,
};
---

<div
  class="py-48 bg-cover m-8 bg-gray-700 bg-blend-multiply"
  style={imageStyle}
>
  <h2 class="text-white uppercase text-4xl italic">{text}</h2>
  <p class="text-white text-xl">{description}</p>
</div>
