---
import ImageCard from "./ImageCard.astro";
const offers = [
  {
    imageURL: "poker1.jpg",
    offerText: "Tornei",
  },
  {
    imageURL: "poker2.jpg",
    offerText: "Eventi",
  },
  {
    imageURL: "poker3.jpg",
    offerText: "Shop",
  },
];
---

<section class="py-12 text-center">
  <h1 class="yellowText text-5xl italic uppercase">What we offer</h1>
  <p class="text-white">
    Trasforma la tua passione per il poker in un evento memorabile
  </p>
  <div class="grid grid-cols-1 md:grid-cols-3">
    {
      offers.map((offer) => (
        <ImageCard imageURL={offer.imageURL} text={offer.offerText} />
      ))
    }
  </div>
</section>
